@font-face {
  font-family: IRANYekan;
  src: url('./699085bd.eot');
  src: url(./699085bd.eot?#iefix) format("embedded-opentype"),
  url(./a80f71ff.woff2) format("woff2"),
  url(./088dfe8a.woff) format("woff"),
  url(./2c83275a.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: IRANYekan;
  src: url(./5bea6c32.eot);
  src: url(./5bea6c32.eot?#iefix) format("embedded-opentype"),
  url(./1fdcadec.woff2) format("woff2"),
  url(./56a1baa4.woff) format("woff"),
  url(./79533773.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: IRANYekan;
  src: url(./7c912e00.eot);
  src: url(./7c912e00.eot?#iefix) format("embedded-opentype"),
  url(./fe12f13a.woff2) format("woff2"),
  url(./2d7cc7cd.woff) format("woff"),
  url(./a7d41f91.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: IRANYekan;
  src: url(./cea3492e.eot);
  src: url(./cea3492e.eot?#iefix) format("embedded-opentype"),
  url(./1d9f5870.woff) format("woff"),
  url(./f2ab2738.ttf) format("truetype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family:IRANSans;
  src:url(./a83daff6.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}

