.InformingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //color: #9b9b9b;
  color: #6d6d6d;
  font-size: 10px;

  //> div {
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: center;
  //  align-items: center;
  //}
  img {
    height: 100px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}
