.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}

.description {
  flex-grow: 1;
  text-align: center;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 6rem !important;
  margin-bottom: 2rem;
}

.spacer {
  flex-grow: 1;
}

.registerButtonContainer {
  display: flex;
  justify-content: center;
}

.registerButton {
  position: fixed !important;
  bottom: 70px !important;
  width: 90%;
}
