.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.description {
  text-align: center;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 6rem !important;
  margin-bottom: 2rem;
}

.registerButtonContainer {
  display: flex;
  justify-content: center;
}

.registerButton {
  width: 90%;
  border-radius: 16px !important;
}
