.MyActivitiesWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;

  height: calc(100vh - 110px) !important;

  .lastUpdateContainer {
    background-color: #bdbabab0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }

  .healthMessageContainer {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    padding: 1rem;
  }

  .healthMessage {
    margin-right: 0.5rem;
    text-align: justify;
  }

  .healthCount {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .healthPerod {
      color: #878787;
      margin-top: 10px;
      font-size: 14px;
    }
  }

  span.message {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .addActivityBtn {
    border-radius: 16px !important;
    width: 80%;
    font-family: IRANYekan;
  }
}

.MyActivityEventsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  padding: 1.5rem;
  height: calc(100vh - 56px) !important;

  .myActivityRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 25px;

    .content {
      display: flex;
      flex-direction: column;
      text-align: justify;

      h3 {
        font-size: 18px;
        margin: 0 0.75rem 0.5rem 0;
      }

      p {
        color: #898989;
        font-size: 13px;
        margin: 0 0.75rem;
      }
    }
  }
}

.MyHealthEventsWrapper {
  overflow: auto;
  padding: 1rem 1rem 4rem 1rem;
  background-color: #fbfbfb;
  margin-top: 64px;
  height: calc(100vh - 56px) !important;

  .topMessage {
    text-align: center;
    background-color: #1c2341;
    color: #fff;
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .submit-button {
    display: flex;
    justify-content: center;
  }

  .healthItemsContainer {
    margin: 15px 0;
    width: 100%;

    .expand-button {
      display: flex;
      align-items: center;
    }

    & > div {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-radius: 10px;
      line-height: 30px;
      background-color: #fff;
      color: #5d5d5d;

      .item-value {
        margin-right: 10px;
      }
    }

    .addHealthBtn {
      width: 80% !important;
      border-radius: 16px !important;
      position: absolute;
      bottom: 30px;
      font-family: IRANYekan;
    }
  }
}

.addHealthBtn {
  width: 90% !important;
  border-radius: 16px !important;
  font-family: IRANYekan;
}

.activation-btn {
  width: 90%;
  border-radius: 16px !important;
}

.myHealthDialogContainer {
  background-color: #fff;
  max-height: 50%;
  width: 70%;
  border-radius: 10px;
  display: flex;
  margin: 50vw auto;
  overflow: scroll;
  justify-content: center;

  & > div {
    width: 90%;
    & > div {
      text-align: center;
      border-bottom: 0.5px solid #e4e5e6;
    }
    & > div:last-child {
      border-bottom: none;
    }
  }
}

.disabled {
  * {
    color: #c1c1c1 !important;
  }
}

.activity-header {
  justify-content: space-between;
}

.app-header-logo {
  height: 40px;
  padding-right: 0.5rem;
}

.overlay-help {
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 9999px rgba(28, 35, 65, 0.95);
  border-radius: 50%;
  z-index: 10000;
}

.overlay-qr-code {
  top: -7px;
  left: 2%;
}

.overlay-camera {
  top: -7px;
  left: calc(2% + 48px);
}

@media (min-width: 1025px) {
  .overlay-qr-code {
    left: 1%;
  }

  .overlay-camera {
    top: -7px;
    left: calc(1% + 48px);
  }
}

.header-help {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  width: 80%;

  .header-help-text {
    text-align: justify;
    color: white;
  }

  .btn-accept {
    color: #ff005c;
    font-family: IRANYekan;
    float: left;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 1rem 1rem 0;
  }
}
