.HomeWrapper {
  display: grid;
  padding: 1rem;
  grid-template-columns: 50% 50%;
  height: 60%;
  // margin-bottom: 56px;
  position: relative;
  top: -5em;

  .home-icon {
    margin: 0.5rem 0.5rem 0.75rem 0.5rem;
    text-decoration: none;
    border-radius: 16px;
    padding: 1.25rem 0.5rem;

    span {
      color: #5d5d5d;
      font-size: 0.75rem;
    }

    .MuiSvgIcon-root {
      font-size: 4rem;
    }
  }

  @media (min-width: 500px) {
    height: 40% !important;
  }
}
