h3 {
  color: #ff005c;
  margin: 10px 0;
}

h4 {
  color: #00ffba;
  margin: 10px 0;
}

h5 {
  color: #5d5d5d;
  margin: 10px 0;
}

.statistics-text {
  padding-top: 2%;
  padding-left: 4%;
  text-align: left;
}

.svg-daily-behavior {
  position: relative;
  top: -5em;
}

.spinner {
  min-height: 6em;
  min-width: 100%;
}
