h3 {
    color: #EB3B5D;
    margin: 10px 0;
}

h4 {
    color: #00FFBA;
    margin: 10px 0;
}

h5 {
    color: #5d5d5d;
    margin: 10px 0;
}

.statistics-text {
    padding-top: 2%;
    padding-left: 4%;
    text-align: left;
}

.svg-daily-behavior {
    position: relative;
    top: -5em;
}