.add-to-home-screen {
  .MuiPaper-root {
    padding: 0.5vw;
  }

  .steps {
    margin: 2rem 0.5rem 2rem 0.5rem;
    text-decoration: none;
    border-radius: 16px;
    padding: 1rem;
    line-height: 10vh;
    font-size: 1rem;

    .share-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.1rem;
    }

    .chrome-menu {
      height: 1rem;
      margin: 0 0.4rem;
    }

    .add-to-home-screen-icon {
      width: 2rem;
      margin: 0 0.3rem;
    }
  }
}
