.app-header{
  height: 56px;
  background-color: #eb3b5d;
}

.simple-app-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:#FFF;
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 7px #ccc;
}