.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6d6d6d;
  font-size: 10px;

  img {
    height: 100px;
    filter: grayscale(100%);
  }
}
