.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

.dialogContent {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.menuItem {
  font-size: 14px;
  overflow: scroll;
  white-space: normal;
}

.verificationButtonContainer {
  display: flex;
  justify-content: center;
}

.verificationButton {
  position: absolute !important;
  bottom: calc(1rem + 56px) !important;
  width: 90% !important;
  border-radius: 16px !important;
}
