@import "./assets/fonts/Fonts";

html , body{
  font-family: IRANYekan
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  scroll-snap-coordinate: 0 0;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  overflow: hidden;
  position: fixed !important;
  overscroll-behavior-x: none !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}