.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  flex-grow: 1;
  margin-bottom: 80px;
}

.contentWrapper {
  height: calc(100% - 48px);
}

.app-content > div {
  /*background-color: dodgerblue;*/
  height: 100%;
}

.app-navigation {
  box-shadow: 0 0 7px #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
}
