*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  flex-grow: 1;
}

.contentWrapper{
    height: calc(100% - 48px);
    padding-left: 10px;
  padding-right: 10px;
}

.app-content > div{
  /*background-color: dodgerblue;*/
  height: 100%;
}

.app-navigation {
  box-shadow: 0 0 7px #ccc;
}

.btn{
  border-radius: 20px;
  width: 80%;
  font-family: IRANYekan;
}