@import "./assets/fonts/Fonts";

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html , body{
  font-family: IRANYekan
}

body {
  user-select: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  scroll-snap-coordinate: 0 0;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: none !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

#root {
  /*  position: relative;*/
  /*  touch-action: manipulation;*/
  /*  -webkit-touch-callout: none;*/
}

html {
  /*  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);*/
  /*  -webkit-tap-highlight-color: transparent;*/
  /*  height: 100vh;*/
  /*  overflow: hidden;*/
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  flex-grow: 1;
}

.contentWrapper{
  height: calc(100% - 48px);
}

.app-content > div{
  overflow: scroll;
  height: 100%;
}

.app-navigation {
  box-shadow: 0 0 7px #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.MuiTypography-root,
.MuiBottomNavigationAction-label,
.MuiButton-root,
.MuiInputBase-root,
.MuiFormLabel-root,
.MuiMenuItem-root {
  font-family: IRANYekan !important
}

.MuiBottomNavigationAction-label {
  font-size: 10px !important;
}

.logo > img{
  width: 32%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}