:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*#region commons-classNames*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.perfect-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.force-ltr {
  direction: ltr !important;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-filler {
  flex-grow: 1;
}

.double-growth {
  flex-grow: 2 !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.scrollable {
  overflow: auto;
}

.scrollable-x {
  overflow-x: auto;
}

.scrollable-y {
  overflow-y: auto;
}
/*#endregion*/