.MapWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: start;

  .map-button-wrapper {
    button {
      outline: none;
    }
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-family: IRANYekan, serif;
  }

  .comment-wrapper {
    font-size: 10px;
    color: gray;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    position: fixed;
    z-index: 10;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .logo-wrapper {
    position: fixed;
    z-index: 10;
    display: flex;

    &.left {
      left: 5%;
      bottom: 105px;
    }

    &.right {
      right: 5%;
      bottom: 95px;
    }
  }

  .comment-logo-wrapper {
    position: fixed;
    z-index: 10;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .map-button {
    font: inherit;
    background-color: #ff005c;
    color: #fff;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;

    svg {
      font-size: 28px;
    }

    &:hover {
      background-color: #bc0044;
    }

    &:first-child {
      margin-left: 10px;
    }

    &.type {
      padding-right: 15px;
      > div {
        width: 85%;
        display: flex;
        justify-content: flex-start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
      }
      flex-grow: 1;
    }
  }

  .disable-button,
  .disable-button:hover {
    background-color: #b2b2b2;
    color: #797979;
  }

  @media (max-width: 760px) {
    .logo-wrapper {
      img {
        width: 70px;
      }
    }
  }

  @media screen and (min-width: 761px) {
    .logo-wrapper {
      img {
        width: 100px;
      }

      &.left {
        bottom: 110px;
      }

      &.right {
        bottom: 90px;
      }
    }
  }

  @media screen and (max-width: 328px) {
    .logo-wrapper {
      img {
        width: 50px;
      }

      &.left {
        bottom: 122px;
      }

      &.right {
        bottom: 112px;
      }
    }
  }
}

.map-menu {
  //TODO clean this shit
  top: 50% !important;
  left: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;

  .map-menu-item {
    font-size: 14px;
    font-family: IRANYekan, serif;
  }
}

.dialog-content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.alerts {
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-top: 90px;
  }
}
.map-alert-wrapper {
  z-index: 20;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;

  .MuiAlert-root {
    font-family: IRANYekan, serif;
    font-size: 12px;
  }

  .MuiAlert-standardInfo {
    background-color: rgba(232, 244, 253, 0.7);
  }
  .MuiAlert-standardWarning {
    background-color: rgba(255, 244, 229, 0.7);
  }
}
